@font-face {
	font-family: 'icons-metro';
	src:url('{T_THEME_PATH}/fonts/icons-metro.eot');
	src:url('{T_THEME_PATH}/fonts/icons-metro.eot?#iefix') format('embedded-opentype'),
		url('{T_THEME_PATH}/fonts/icons-metro.woff') format('woff'),
		url('{T_THEME_PATH}/fonts/icons-metro.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icons-metro';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 22px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-cog:before, .icon-pencil:before, .icon-checkmark:before, .icon-close:before, .icon-alarm:before, .icon-arrow-left:before, .icon-home:before, .icon-remove:before, .icon-key:before, .icon-comment-alt2-stroke:before, .icon-comment-alt2-fill:before, .icon-user:before, .icon-arrow-up:before, .icon-arrow-down:before, .icon-plus:before, .icon-users:before, .icon-user-2:before, .icon-box-add:before, .icon-list:before {
	font-family: 'icons-metro';
	speak: none;
	padding: 0 5px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-cog:before {
	content: "\e000";
}

.icon-pencil:before {
	content: "\e001";
}

.icon-checkmark:before {
	content: "\e002";
}

.icon-close:before {
	content: "\e003";
}

.icon-alarm:before {
	content: "\e004";
}

.icon-arrow-left:before {
	content: "\e005";
}

.icon-home:before {
	content: "\e006";
}

.icon-remove:before {
	content: "\e007";
}

.icon-key:before {
	content: "\e008";
}

.icon-comment-alt2-stroke:before {
	content: "\e009";
}

.icon-comment-alt2-fill:before {
	content: "\e00a";
}

.icon-user:before {
	content: "\e00b";
}

.icon-arrow-up:before {
	content: "\e00c" !important;
}

.icon-arrow-down:before {
	content: "\e00d" ;
}

.icon-plus:before {
	content: "\e00e";
}

.icon-users:before {
	content: "\e00f";
}

.icon-user-2:before {
	content: "\e010";
}

.icon-box-add:before {
	content: "\e011";
}

.icon-list:before {
	content: "\e012";
}

.met-section,.met-stats{
	float:left;
	margin-top: 30px;
}

.met-row{
	float:left;
	width:400px;
	margin: 0 20px;
}

.met-cat-header,.ot{
	background:#0072C6;
	padding:20px 0px;
}

.met-online,.met-s,.met-b{
	float:left;
	width: 100%;
}

.met-online p,.met-s p,.met-b p{
	padding:0 0 0 20px;
}

.tt, .met-cat-header a:link, .met-cat-header a:visited, .met-cat-header a:active, .met-cat-header a:hover{
	font-size:20px;
	padding:0 0 0 20px;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 20px;
	text-decoration: none;
	color:white;
}

.met-row .inner .row a:link,.met-row .inner .row a:visited,.met-row .inner .row a:active,.met-row .inner .row a:hover,.met-row .inner .row {
	padding:10px 0px;
	font-size:14px;
	text-align:justify;
}

.met-row .inner .row a:link{
	font-size:18px;
	font-weight: 100;
	letter-spacing: 0.02em;
	line-height: 20px;
	text-decoration: none;
	color:#666;
	padding:0 0 0 20px;
}

.met-stats{
	font-size:14px;
}

.ot{
	margin:20px 0px;
}

.left{
	float:left !important;
}

.ot a, .ot span{
	padding:10px 0px;
	font-size:18px;
	font-weight: 100;
	letter-spacing: 0.02em;
	line-height: 20px;
	text-decoration: none;
	color:#666;
	color:white;
	padding:0 0 0 20px;
}

.f-details{
	float:right;
	padding:0 5px;
	color:#D4D4D4;
	cursor:pointer;
}

.met-header{
	width:100%;
	color:white;
	background:#0072C6;
	padding:20px 70px 0 70px;
	min-height:40px;
	font-size:16px;
}

.met-u-m{
	display:none;
}

.hide{
	display:none;
}

.met-u-m.show{
	display:block;
}

.met-vt {
	color:black;
	border: 2px solid #bababa;
	list-style:none;
	margin-top:3px;
	position:absolute;
	background:white;
}

.met-vt li{
	padding:12px 8px 12px 20px;
	min-width:150px;
}

.met-vt li:hover{
	background: rgba(0,0,0,.12);
	padding: 12px 8px 12px 20px;
}

.pmmsg{
	float: right;
	font-size:22px;
	padding:0 10px;
}

.met-vt a{
	color:black !important;
	font-size:16px !important;
}

.met-sep{
	border-left:1px solid white;
	margin-top: -20px;
	float: left;
	height:60px;
	padding:0 10px;
}

.mtop{
	padding:0 9px 0 5px;
}

.met-menu{
	list-style: none;
	margin-top: -30px;
}

.met-menu li {
    display: block;
    position: relative;
    float: left;
	text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}

.pull-right{
	float:right;
}

.icon-arrow-left{
	font-size:27px !important;
	color:white;
	cursor:pointer;
}

.metclk,.tps{
	cursor:pointer;
	font-size:22px;
}

.glyph {
	font-size: 22px;
	float: right;
	text-align: center;
	cursor:pointer;
	border-radius: .25em;
}

.shwp{
	margin-top:-20px !important;
	position: absolute;
}

.section-ucp .met-lg-c .met-forms .input-control > input[type=password]{
	margin-top:10px;
}	

.mstk{
	font-size:16px !important;
}

.met-charms {
	display:none;
	background-color: #004D60;
	position: fixed;
	top: 60px;
	right: 0%;
	width: 320px;
	height: 100%;
	padding: 0;
	margin: 0;
	display: none;
}

.show{
	display:inline;
}

.met-charms-header{
	float: left;
	padding: 10px 0 10px 10px;
}

.met-charms-icons{
	float: left;
	width:100%;
	padding: 10px 0 10px 10px;
}

.met-charms-btm{
	float: left;
	width:100%;
	padding: 10px 0 10px 10px;
}

.met-charms-sub{
	float: left;
	width:100%;
	padding: 10px 0 10px 10px;
}

.met-header a{
	color:white;
	text-decoration:none;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 20px;
	text-decoration: none;
}

a.print {
	background-image: url("{T_THEME_PATH}/images/print.png");
	height:32px;
	width:32px;
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/envelop.png");
	height:32px;
	width:32px;
}

.clpse{
	color:white;
	margin-top: -35px;
	cursor:pointer;
}

.post-icon span {
	padding: 10px;
}

.met-lg-c{
	text-align:center;
}

.met-no-f{
	float:none !important;
}

.cicons{
	color:white;
}

.met-lg-cc{
	width:400px;
	margin:0 auto;
}

.met-charms-search{
	color:white;
	float:left;
	padding: 10px 0 10px 10px;
}

.met-charms-search  .met-forms .input-control > input[type=text]{
	width:200px;
	padding: 6px 8px 8px 5px !important;
}

.post-icon{
	background-position: -1px -1px;
	background-image: url("{T_THEME_PATH}/images/command2.png");
	width: 26px;
	height: 26px;
	margin:0 5px;
}

.pmt:hover{
	background:rgba(0,0,0,.12);
	height:40px;
	margin-top:-20px;
	padding-top:20px;
}

.pmt{
	margin-left:30px;
}

.right{
	float:right;
}

.icon-user{
	font-size:22px;
}

.met-us{
	margin-top:-10px;
	padding: 0 10px;
}
.user{
	padding:0 40px;
}

.met-vf-row{
	background: #0072C6;
	margin: 20px 20px;
	width:300px;
	height:200px;
}

a.met-vf-a{
	color:white;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 20px;
	max-height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.met-vf-sh{
	margin:40px;
	text-align:center;
	font-size:14px;
	color:rgb(189, 189, 189);
	overflow: hidden;
}

.announcement .met-vf-row{
	background: #B00000 ;
}

.met-vf-row.sticky{
	background: green;
}

.reported{
	background-image: url("{T_THEME_PATH}/images/rpt.png");
}

.met-vf-sh .pagination .met-p a{
	font-weight: 400;
	margin:5px;
	min-width: 18px;
	min-height: 18px;
	width: 18px;
	height: 18px;
	background:#ccc;
	font-size: 10pt;
}

.jmpbox{
	float:right;
}

.forumbg {
	float: left;
}

.met-row.viewforum {
	width: 100% !important;
}

.met-smod{
	width:100%;
	float:right;
	margin:5px 0px;
}

.btn {
	margin-top: -5px;
}

.bbtn{
	background-color: #0072C6 !important;
	color: #fff !important;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 9pt;
	font-smooth: always;
	min-width: 90px;
	min-height: 32px;
	height: 32px;
	border: 1px transparent solid;
	margin-right: 10px;
	border-raduis: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 10px;
	position: relative;
}

#vertical_menu1 {
	width:100%;
	float:left;
	text-align:center;
}

#vertical_menu2{
	margin:20px 0px;
	float:left;
}

#vertical_menu2 ul li a{
	text-decoration:none !important;
}

#vertical_menu1 li,#vertical_menu2 li{
	float:left;
	margin:10px 0px;
}

#vertical_menu1 ul li a{
	font-size:16px !important;
	text-decoration:none !important;
}

.fixedf{
	position:fixed;
	z-index:999;
	top:0px;
}

.mtt{
	margin:70px auto 0 auto;
}


#res ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
	background:white;
}

#res li {
	  width: 100%;
	padding:10px;
	display: block;
}

#nav-toggle{
	color:white;
}

.js #res {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#res.opened {
  max-height: 9999px;
background: white;
max-height: 232px;
z-index: 999;
}

@media screen and (min-width: 40em) {
  .js #res {
    position: relative;
  }
  .js #res.closed {
    max-height: none;
  }
  #res-toggle {
    display: none;
  }
}

.resp{
	position:absolute;
	top: 18px;
	left: 10px;
	color:white;
	font-size:14px;
}

.resp:hover{
	opacity:0.8;
}

#format-buttons .button2{
	margin-top:10px;
}

select{
	font-size:12px !important;
}

.section-viewtopic .lbl-hd{
	font-size:20px;
}

.section-ucp #login {
	padding-top: 20px;
	margin: 0 auto;
	width: 500px;
}

#format-buttons select {
	margin-top:8px;
	margin-right: 8px;
}

select {  
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: #ccc;
	border: 1px transparent solid;
	color: black;
	outline: 0;
	margin: 0;
	min-width: 90px;
	min-height: 32px;
	padding: 2px 3px;
	text-align: left;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 9pt;
	height: 34px;
	vertical-align: top;
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}

.jmpbox  select,#quick-mod-select{
	background:white;
	border-color:black;
}

.c-center{
	width:100%;
	text-align:center;
}

.bbtn.active-subsection {
	background: #2D6085 !important;
}

#memberlist.table1 thead tr th a{
	color:black;

}

#memberlist.table1 {
	border: 1px solid rgb(199, 204, 214);
}

.fo-right {
	float: right;
}

.fo-left {
	float: left;
}

.met-footer{
	margin:0 auto;
}

.edit-icon{
	background: url('{T_THEME_PATH}/images/pencil_medium.png') no-repeat center;	
}

.delete-icon{
	background: url('{T_THEME_PATH}/images/delete_medium.png') no-repeat center;	
}

.report-icon{
	background: url('{T_THEME_PATH}/images/alert_medium.png') no-repeat center	
}

.info-icon{
	background: url('{T_THEME_PATH}/images/info_medium.png') no-repeat center;	
}

.warn-icon{
	background: url('{T_THEME_PATH}/images/warning_medium.png') no-repeat center;	
}

.quote-icon{
	background: url('{T_THEME_PATH}/images/quote_medium.png') no-repeat center;	
}

.pm-icon{
	background: url('{T_THEME_PATH}/images/letter.png') no-repeat center;	
}

.email-icon{
	background: url('{T_THEME_PATH}/images/msg.png') no-repeat center;	
}

.web-icon{
	background: url('{T_THEME_PATH}/images/www.png') no-repeat center;	
}

.msnm-icon{
	background: url('{T_THEME_PATH}/images/msn.png') no-repeat center;	
}

.icq-icon{
	background: url('{T_THEME_PATH}/images/icq.png') no-repeat center;	
}

.yahoo-icon{
	background: url('{T_THEME_PATH}/images/yahoo.png') no-repeat center;	
}

.aim-icon{
	background: url('{T_THEME_PATH}/images/aim.png') no-repeat center;	
}

.jabber-icon{
	background: url('{T_THEME_PATH}/images/jabber.png') no-repeat center;	
}

.icon-subscribe,.icon-unsubscribe{
	
	height:32px;
	padding-left:32px;
	background: url('{T_THEME_PATH}/images/sub.png') no-repeat left;	
}

.icon-bookmark{
	
	height:32px;
	background: url('{T_THEME_PATH}/images/book.png') no-repeat left;	
	padding-left:32px;
}

.met-charms-sub{
	float:left;
	width:100%;
}

.tkt-link{
	color:white !important;
	width:100%;
	font-size: 14px;
}